$primary-color: #333;
$secondary-color: #fff;
$background-color: #f4f4f4;
$text-color: #333;
$border-color: #ddd;

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $background-color;
    color: $text-color;
    display: flex;
    flex-direction: column;
}

header {
    background-color: $primary-color;
    color: $secondary-color;
    padding: 20px;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 0;
        font-size: 2.5em;
    }

    p {
        margin: 5px 0 0;
        font-size: 1.2em;
    }

    .header-buttons {
        margin-top: 20px;
        display: flex;
        gap: 10px;
    }
    
    .btn {
        background-color: $secondary-color;
        color: $primary-color;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        border: 1px solid $primary-color;
        transition: background-color 0.3s, color 0.3s;
    
        &:hover {
            background-color: $primary-color;
            color: $secondary-color;
        }
    }
}

main {
    flex: 1;

    h2 {
        color: $text-color;
    }

    #projects {
        padding: 20px;

        .project-container {
            display: flex;
            
            .project-card {
                display: flex;
                align-items: center;
                height: 150px;
                border: 1px solid $border-color;
                border-radius: 5px;
                text-decoration: none;
                color: $text-color;
                background-color: $secondary-color;
                transition: transform 0.2s;
        
                &:hover {
                    transform: scale(1.02);
                }
                .project-image-container {
                    width: 100%;
                    height: 100%;
                    .project-image {
                        max-width: 250px;
                        height: 80%;
                        margin-top: 10px;
                        border-radius: 5px;
                    }
                }
                
                .project-title {
                    font-weight: bold;
                }

            }
        }
    }

    #contact {
        background-color: $primary-color;
        
        text-align: center;
        padding: 40px 20px;
    
        h2 {
            color: $secondary-color;
            margin-bottom: 20px;
        }
    
        .contact-button {
            display: flex;
            justify-content: center;
    
            .btn {
                background-color: $secondary-color;
                color: $primary-color;
                padding: 10px 20px;
                border-radius: 5px;
                text-decoration: none;
                border: 1px solid $primary-color;
                transition: background-color 0.3s, color 0.3s;
    
                &:hover {
                    background-color: $primary-color;
                    color: $secondary-color;
                }
            }
        }
    }

    /* Modal styles */
    .modal {
        display: none; /* Hidden by default */
        position: fixed;
        z-index: 10;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;

        .modal-content {
            background-color: $secondary-color;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
            width: 80%;
            max-width: 500px;
        
            h3 {
                margin-top: 0;
            }
        
            .btn {
                margin-top: 20px;
                background-color: $primary-color;
                color: $secondary-color;
                padding: 10px 20px;
                border-radius: 5px;
                text-decoration: none;
        
                &:hover {
                    background-color: $primary-color;
                    color: $secondary-color;
                }
            }
        }
        
        .close {
            position: absolute;
            top: 10px;
            right: 20px;
            font-size: 1.5em;
            color: $secondary-color;
            cursor: pointer;
        }
    }
    
}

footer {
    background-color: $primary-color;
    color: $secondary-color;
    text-align: center;
    padding: 10px 0;
    // position: fixed;
    bottom: 0;
    width: 100%;
}


/* Responsive styles */
@media (max-width: 768px) {
    header {
        padding: 10px;

        h1 {
            font-size: 2em;
        }

        p {
            font-size: 1em;
        }

        .header-buttons {
            flex-direction: column;
            gap: 10px;
        }
    }

    #projects {
        padding: 10px;

        .project-container {
            flex-direction: column;
            .project-card {
                width: 100%;
                justify-content: space-evenly;
                text-align: center;
            }
        }
    }

    #contact {
        padding: 20px 10px;

        h2 {
            font-size: 1.5em;
        }

        .contact-button {
            .btn {
                padding: 8px 15px;
                font-size: 0.9em;
            }
        }
    }

    .modal .modal-content {
        width: 90%;
    }
}

@media (max-width: 480px) {
    header {
        h1 {
            font-size: 1.8em;
        }

        p {
            font-size: 0.9em;
        }
    }

    #projects {
        .project-card {
            width: 100%;
        }
    }

    #contact {
        h2 {
            font-size: 1.3em;
        }
    }
}
